# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.NetCore5ReactTemplate.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\documents\NetCore5ReactTemplate\.idea\.idea.NetCore5ReactTemplate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
